.server-list {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1e1f22;
  height: 100%;
  img {
    border-radius: 200px;
    margin: 5px auto;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      border-radius: 10px;
    }
  }
  i {
    margin-top: 20px;
    font-size: 1.3rem;
    height: 40px;
    width: 40px;
    border: 1px solid transparent;
    background-color: #2b2d31;
    padding: 10px;
    border-radius: 300px;
    color: green;
  }
}
