@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background: url(./bg.jpeg) center/cover;
  backdrop-filter: blur(10px);
  color: white;
}
header {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.btn-container {
  border: 2px solid white;
  display: flex;
  border-radius: 10px;
  height: 70px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.app {
  margin-top: 100px;
  min-height: 100vh;
}
#input {
  border: none;
  border-radius: 10px;
  flex: 1;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
}
#input::placeholder {
  color: white;
  font-family: "Roboto", sans-serif;
}
#submit {
  border: none;
  border-radius: 10px;
  width: 50px;
  background-color: transparent;
  background-image: url(./loupe.png);
  background-size: 3rem;
  background-position: center center;
  background-repeat: no-repeat;
}
.nameCountry {
  font-weight: 600;
  font-size: 1.5rem;
}
.map-container {
  position: relative;
}
#map {
  z-index: 2;
  margin-top: 20px;
  height: 500px;
  width: 800px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.infos {
  display: none;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 600;
  border-radius: 10px;
}
