@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
.left-page {
  background: url(../img/bg-main-desktop.png) center/cover;
  min-height: 100vh;
  position: relative;
}
.left-page .cards {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 80%;
  top: 50%;
  text-transform: uppercase;
}
.left-page .cards .card {
  height: 230px;
  width: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: white;
}
.left-page .cards .front-card {
  background: url("../img/bg-card-front.png") center/cover;
  position: relative;
}
.left-page .cards .front-card #front-logo {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 15%;
  left: 15%;
}
.left-page .cards .front-card #card-change {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 30%;
  font-size: 32px;
  width: 100%;
  text-align: center;
}
.left-page .cards .front-card #name-change {
  position: absolute;
  left: 5%;
  bottom: 10%;
}
.left-page .cards .front-card #date-change {
  position: absolute;
  right: 5%;
  bottom: 10%;
}
.left-page .cards .front-card .front-card-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}
.left-page .cards .back-card {
  background: url("../img/bg-card-back.png") center/cover;
  margin: 30px 0 0 100px;
  position: relative;
}
.left-page .cards .back-card #cvc-change {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 49%;
  left: 84%;
}

@media screen and (max-width: 1000px) {
  .left-page {
    min-height: 33vh;
  }
  .left-page .cards {
    top: 80%;
    left: 50%;
  }
  .left-page .cards .card {
    height: 150px;
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: white;
  }
  .left-page .cards .front-card #front-logo {
    top: 20%;
    left: 20%;
  }
  .left-page .cards .front-card #card-change {
    font-size: 18px;
  }
  .left-page .cards .front-card #name-change {
    font-size: 9px;
  }
  .left-page .cards .front-card #date-change {
    font-size: 9px;
  }
  .left-page .cards .back-card {
    margin: -230px 0 0 70px;
    z-index: -1;
  }
}
.right-page {
  position: relative;
}
.right-page form {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 60%;
}
.right-page form .error {
  color: red;
  font-size: 12px;
}
.right-page form .surname-container,
.right-page form .numbers-container,
.right-page form .date-container,
.right-page form .cvc-container {
  display: flex;
  flex-direction: column;
}
.right-page form label {
  text-transform: uppercase;
  margin-top: 50px;
}
.right-page form input {
  border-radius: 5px;
  border: 1px solid gray;
  height: 70px;
  padding: 10px;
  margin-top: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}
.right-page form #mounth {
  width: 80%;
}
.right-page form #years {
  width: 80%;
}
.right-page form .flex-global {
  display: grid;
  grid-template-columns: 60% 40%;
}
.right-page form .flex-global .date-container .input-flex {
  display: grid;
  grid-template-columns: 50% 50%;
}
.right-page form #confirm {
  width: 100%;
  height: 70px;
  margin-top: 20px;
  border: hidden;
  background-color: #220930;
  color: white;
  transition: 0.3s ease-in;
}
.right-page form #confirm:hover {
  border: gray solid 1px;
  background-color: white;
  color: black;
}

.formHidden {
  display: none;
}

@media screen and (max-width: 1000px) {
  .right-page form {
    top: 300%;
    left: 50%;
  }
  .right-page form label {
    margin-top: 10px;
    font-size: 14px;
  }
  .right-page form input {
    height: 50px;
    margin-top: 5px;
    font-size: 12px;
  }
}
.thanks {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 70%;
  text-align: center;
}
.thanks h2 {
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 300;
}
.thanks p {
  margin-top: 10px;
  color: gray;
}
.thanks button {
  margin-top: 30px;
  width: 100%;
  height: 80px;
  border: hidden;
  background-color: #220930;
  color: white;
  transition: 0.3s ease-in;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}
.thanks button:hover {
  border: gray solid 1px;
  background-color: white;
  color: black;
}

.thanksHidden {
  display: none;
}

@media screen and (max-width: 1000px) {
  .thanks {
    top: 300%;
    left: 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 33% 66%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
  }
}/*# sourceMappingURL=style.css.map */