* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .app {
    width: 1366px;
    height: 768px;
    background-color: #313338;
    border-radius: 10px;
  }
}
