@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body .app {
  width: 1366px;
  height: 768px;
  background-color: #313338;
  border-radius: 10px;
}

header {
  border-radius: 10px 10px 0 0;
  padding: 5px;
  background-color: #1c1e20;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Poppins", sans-serif;
  height: 40px;
}
header .windows {
  display: flex;
  margin: 5px;
}
header .windows i {
  margin: 0 5px;
  cursor: pointer;
}

.container {
  display: flex;
  height: 728px;
}
.container .container-left {
  width: 75px;
}
.container .container-right {
  width: 100%;
}

.server-list {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1e1f22;
  height: 100%;
}
.server-list img {
  border-radius: 200px;
  margin: 5px auto;
  transition: 0.2s;
  cursor: pointer;
}
.server-list img:hover {
  border-radius: 10px;
}
.server-list i {
  margin-top: 20px;
  font-size: 1.3rem;
  height: 40px;
  width: 40px;
  border: 1px solid transparent;
  background-color: #2b2d31;
  padding: 10px;
  border-radius: 300px;
  color: green;
}

.friends {
  display: grid;
  grid-template-columns: 20% 80%;
}
.friends .friends-left {
  background-color: #2b2d31;
  padding: 5px 10px;
  position: relative;
  height: 728px;
}
.friends .friends-left input {
  padding: 5px;
  border-radius: 10px;
  height: 25px;
  border: none;
  outline: none;
  background-color: #1e1f22;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 90%;
}
.friends .friends-left input::-moz-placeholder {
  color: white;
}
.friends .friends-left input::placeholder {
  color: white;
}
.friends .friends-left p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin-top: 20px;
}
.friends .friends-left .messages-list {
  display: flex;
  flex-direction: column;
}
.friends .friends-left .messages-list .message {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-radius: 10px;
  transition: 0, 2s;
}
.friends .friends-left .messages-list .message img {
  border-radius: 200px;
}
.friends .friends-left .messages-list .message .pseudo {
  margin-left: 10px;
  margin-top: 0px;
}
.friends .friends-left .messages-list .message:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.friends .friends-left .user {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: #1c1e20;
  width: 100%;
  margin: 0 -10px;
  height: 60px;
}
.friends .friends-left .user img {
  border-radius: 300px;
}
.friends .friends-left .user p {
  margin: 0 5px;
  font-size: 0.8rem;
}
.friends .friends-left .settings-audio {
  color: white;
  margin-left: 50px;
}
.friends .friends-left .settings-audio i {
  margin: 0 5px;
  cursor: pointer;
}

.friends-right {
  display: flex;
  flex-direction: column;
}
.friends-right .messages {
  margin: 20px;
}
.friends-right .messages p {
  color: white;
  font-family: "Poppins", sans-serif;
}
.friends-right .messages .conversation {
  display: flex;
  height: 630px;
  align-items: flex-end;
}
.friends-right .messages .conversation .messages-container {
  width: 100%;
  max-height: 630px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.friends-right .messages .conversation .messages-container .message {
  margin: 10px;
}
.friends-right .messages .conversation .messages-container .message .from-info {
  display: flex;
  align-items: flex-start;
}
.friends-right .messages .conversation .messages-container .message .from-info img {
  border-radius: 300px;
  height: 50px;
}
.friends-right .messages .conversation .messages-container .message .from-info .message-pseudo {
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0 10px;
}
.friends-right .messages .conversation .messages-container .message .from-info .message-at {
  color: gray;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  margin-top: 5px;
}
.friends-right .messages .conversation .messages-container .message .message-content {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-left: 60px;
  margin-top: -20px;
  font-size: 1.2rem;
}
.friends-right .messages .conversation .messages-container::-webkit-scrollbar {
  width: 6px;
}
.friends-right .messages .conversation .messages-container::-webkit-scrollbar-track {
  background: transparent;
}
.friends-right .messages .conversation .messages-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.friends-right .messages .conversation .messages-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.friends-right .messages .message-input {
  display: flex;
  background-color: #1c1e20;
  border-radius: 10px;
  height: 50px;
  width: 100%;
}
.friends-right .messages .message-input .input-message {
  flex: 1;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}
.friends-right .messages .message-input .input-message::-moz-placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
}
.friends-right .messages .message-input .input-message::placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
}
.friends-right .messages .message-input .submit-message {
  cursor: pointer;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}/*# sourceMappingURL=index.css.map */