.weather-infos {
  .weather {
    display: flex;
    align-items: center;
    justify-content: start;
    h1 {
      font-size: 5rem;
    }
    img {
      width: 30%;
      margin-left: 20px;
    }
  }
  h3 {
    letter-spacing: 2px;
    font-size: 2rem;
  }
  .btn-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    height: 50px;
    #input {
      flex: 1;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 10px;
      background: transparent;
      font-size: 1rem;
      color: white;
      &::placeholder {
        color: white;
      }
    }
    #submit {
      background-color: transparent;
      background: url(../../assets/img/searchicon.png) center/cover no-repeat;
      background-size: 25px;
      height: 48px;
      width: 40px;
      border: none;
      color: white;
    }
  }
}
