.weather-infos {
  .weather {
    display: flex;
    align-items: center;
    justify-content: start;
    h1 {
      font-size: 5rem;
    }
    img {
      width: 30%;
      margin-left: 20px;
    }
  }
  h3 {
    letter-spacing: 2px;
    font-size: 2rem;
  }
}
