.nextday {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 60%;
  height: 70%;
  h3 {
    font-weight: 600;
    margin-left: 20px;
  }
  .ligne {
    margin: 20px;
    width: 90%;
    height: 1px;
    background-color: white;
  }
  .next-forecast-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    .nextforecastlist {
      display: flex;
      justify-content: center;
      align-items: center;
      .img-container {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 70%;
        }
      }
      .day {
        width: 100px;
      }
      p {
        margin: 0 10px;
        font-weight: 700;
        font-size: 0.9rem;
      }
      .lignetemps {
        height: 2px;
        width: 40px;
        background-color: white;
      }
    }
  }
}
