.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  .card {
    margin: 30px;
    background-color: rgb(6, 13, 44);
    border-radius: 30px;
    padding: 20px;
    width: 250px;
    height: 650px;
    overflow: hidden;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0%;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(1px);
      height: 75px;
      width: 100%;
    }
    .card-container {
      .img-container {
        display: flex;
        justify-content: center;
        img {
          border-radius: 30px;
          box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
        }
      }
      .title {
        color: white;
        font-family: "Poppins", sans-serif;
        margin: 10px auto 5px auto;
        font-weight: 700;
      }
      .date {
        color: rgb(136, 136, 136);
        font-family: "Poppins", sans-serif;
        margin: 5px auto;
      }
      .note {
        color: white;
        font-family: "Poppins", sans-serif;
        margin: 10px auto 5px auto;
      }
      .user-vote {
        display: flex;
        align-items: center;
        p {
          color: white;
          font-family: "Poppins", sans-serif;
          margin: 0 10px 0 0;
        }
        i {
          font-size: 1.1rem;
          transition: color 0.3s;
        }
      }
      .titleSynopsis {
        color: white;
        font-family: "Poppins", sans-serif;
        margin: 10px auto 5px auto;
        font-weight: 700;
      }
      .synopsis {
        color: rgb(136, 136, 136);
        font-family: "Poppins", sans-serif;
        margin: 5px auto;
      }
      #fav-btn {
        padding: 5px;
        background-color: rgb(84, 111, 228);
        border: none;
        cursor: pointer;
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 0;
        left: 50%;
        z-index: 2;
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        border-radius: 20px;
      }
    }
  }
  .favorite-title {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
}
