@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: whitesmoke;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
header h2 {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(15, 15, 15);
}
header input {
  padding: 5px 20px;
  height: 30px;
  width: 100px;
  border-radius: 50px;
  text-align: center;
  margin: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: gray;
  letter-spacing: 1px;
  border: none;
}
.after--login {
  display: block;
}
