.left--page {
  background: url(../img/bg-main-desktop.png) center/cover;
  position: relative;
  min-height: 100vh;
  .left--page--container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 80%;
  }
}
