.right--page {
  .step1 {
    display: none;
    margin-left: 15%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 500px;
    .step1--container {
      width: 80%;
      h1 {
        color: hsl(213, 96%, 18%);
        font-family: Ubuntu-Bold;
      }
      p {
        margin-top: 10px;
        font-family: Ubuntu-Regular;
        color: gray;
      }
      form {
        margin-top: 30px;
        .surname--container {
          .error {
            color: hsl(354, 84%, 57%);
            font-family: Ubuntu-Regular;
            font-size: 14px;
          }
        }
        .email--container {
          .error {
            color: hsl(354, 84%, 57%);
            font-family: Ubuntu-Regular;
            font-size: 14px;
          }
        }
        .phone--container {
          .error {
            color: hsl(354, 84%, 57%);
            font-family: Ubuntu-Regular;
            font-size: 14px;
          }
        }
        .surname--container,
        .email--container,
        .phone--container {
          display: flex;
          flex-direction: column;
          margin-top: 30px;
          label {
            color: hsl(213, 96%, 18%);
            font-family: Ubuntu-Regular;
          }
          input {
            margin-top: 10px;
            padding: 5px;
            height: 30px;
            font-family: Ubuntu-Regular;
            border-radius: 5px;
            border: 1px solid gray;
          }
        }
        .btnNext--container {
          display: flex;
          justify-content: end;
          #next {
            margin-top: 100px;
            padding: 10px;
            height: 50px;
            width: 130px;
            border: 1px;
            background-color: hsl(213, 96%, 18%);
            color: white;
            font-family: Ubuntu-Regular;
            border-radius: 5px;
            letter-spacing: 1px;
            transition: 0.3s ease;
            &:hover {
              border: 1px solid black;
              color: black;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
